









/*.button{
    -fx-background-radius: 15;
    -fx-border : none;
    -fx-padding: 5px 9px ;*/


.button:hover
{
    -fx-background-radius :  15;
    -fx-border : none;
    -fx-padding: 5px 9px ;
}
.consult {
    -fx-padding: 10px 15px;
    -fx-font-size: 16px;
    -fx-text-align: center;
    -fx-cursor: pointer;
    -fx-outline: none;
    -fx-color: #fff;

    -fx-border: none;
    -fx-border-radius: 15px;

}
.table-view{
    -fx-background-color:  #1C2833;
}










